@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  background: url(images/background.png);
  margin: 0 auto;
}

.main {
  margin: 127px 0 110px 103px;
}

.main__title {
  color: #FFFFFF;
  font-size: 57px;
  margin-bottom: 7px;
}

.main__description {
  margin: 0 0 59px 0;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 19px;
}

.choice-level {
  margin-bottom: 142px;
}

.level__description {
  color: #FFFFFF;
  font-size: 50px;
  padding-left: 37px;
  cursor: pointer;
}

.level__description:hover {
  color: #D62B2E;
}

.level__description::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top:21px;
  left: 4px;
  z-index: 1;
  transition: .3s;
  transform: rotate(45deg);
}

.level {
  position: relative;
  margin-bottom: 23px;
}

.level__radio {
  appearance: none;
}

.level__radio:checked + .level__description::before {
  background-color: #D62B2E;
}

.main__button {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 32px;
  padding: 28px 85px;
  background-color: #D62B2E;
  border-radius: 7px;
}

.main__button:hover {
  border: 2px solid #FFFFFF;
}

.main__card {
  margin: -180px 0px 0px 752px;
  width: 511px;
  height: 405px;
  background: url(images/main-card-back-2.png), url(images/main-card-back-1.png);
  background-repeat: no-repeat;
  background-position: 127px 5px, 0 0;
}
